:root {
    --primary: #198754;
    --secondary: #8D9297;
    --light: #F8F9FA;
    --dark: #182333;
}



/*--- NAvbar --*/

body {
	font-family: 'Poppins', sans-serif;
}
header .carousel-inner .item {
	height: 100vh;
}
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}

/* .hello{
    color :rgba(0, 0, 0, 0.5);
} */

.navbar-inverse-con
{

	background-color: #182333;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 40px;
	padding: 40px 15px;
	font-weight: 600;
}
.nav.navbar-nav.navbar-right {
	margin: 25px 0;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	font-size: 17px;
	font-weight:550;
}
.banner {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
}
.carousel-caption {
	padding-bottom: 100px;
	font-family: poppins;
}
.carousel-caption h2 {
	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold;
}
.carousel-caption h2 span {
	color: #230fd4;
}
.carousel-caption a {
	background: linear-gradient(to right, #0921f5, #99a8f4);
	padding: 15px 35px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px;
}
.carousel-control.right {
	background-image: none;
}
.carousel-control.left {
	background-image: none;
}
.carousel-indicators .active {
	background-color: #123456;
	border-color: #123456;
}
/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* .carousel-caption {
		padding-bottom: 100px;
	}  */
	.carousel-caption h2 {
		font-size: 50px;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-inverse .navbar-brand {
		font-size: 30px;
		padding: 20px 15px;
	}
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		padding-bottom: 120px;
	}
	.carousel-caption h2 {
		font-size: 25px;
	}
	.carousel-caption h3 {
		font-size: 18px;
	}
	.carousel-caption a {
		padding: 10px 25px;
	}
}

/*Blog */
.section_padding {
	padding: 35px 0;
}
.section_heading {
	margin-bottom: 30px;
}
.section_heading h2 {
	color: #222;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 25px;
	line-height: 30px;
	text-transform: uppercase;
}
.section_heading h2 span {
	color: #34618f;
}
.section_heading p {
	font-size: 16px;
	margin: 10px 0 5px;
}
.single-blog {
	transition: all 0.30s ease 0s;
}
.single-blog:hover {
	transform: translateY(-10px);
}
.single-blog .post-img {
	position: relative;
}
.single-blog .post-img img {
	max-width: 100%;
	height: auto;
}
.single-blog .post-img:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: #34618f99;
	transition: all 0.30s ease 0s;
}
.single-blog:hover .post-img:after {
	opacity: 1;
}
.single-blog .single_blog {
	border-top: none;
	padding: 25px 20px 25px;
	background: #fff;
	position: relative;
}
.single-blog .post-title {
	margin: 0 0 15px 0px;
	font-size: 20px;
	color: #333;
	display: inline-block;
	text-transform: capitalize;
	transition: all 0.3s ease 0s;
}
.single-blog .blog-text {
	font-size: 15px;
	line-height: 23px;
	margin: 7px 0 10px;
}
.icon-area {
	list-style: none;
	font-size: 14px;
	padding: 0;
}
.icon-area>li {
	display: inline-block;
	margin-right: 5px;
	color: #555;
	font-style: italic;
}
.icon-area>li i {
	color: rgb(35, 15, 212);
	margin-right: 5px;
	font-size: 14px;
}
.btn-area a {
	background: linear-gradient(to right, #0921f5, #99a8f4);
	font-size: 14px;
	letter-spacing: 0.5px;
	padding: 11px 22px;
	margin: 10px 0px 10px;
	border: none;
	font-weight: 500;
	color: #fff;
	text-transform: capitalize;
	transition: all 0.2s ease-in-out 0s;
}

.service-name {
    font-size : 30px;
	 font-weight: 600;
	 padding-left: 60px;
	 margin-bottom: 20px;
}

.amazon-pic {
    width: 100%;
	height: 180px;
}

.ama-name {
    color: #1754a1;
    font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
}

.ama-para {
    color: #323f4b;
    font-size:10 px;
  
}

.card {
    padding-right: 15px;
    padding-left: 15px;
}

/* .re-color {
    color: #1754a1;
    font-weight: bold;
    font-size: 19px;
} */
/*footer*/
.footer {
    color: #999999;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #999999;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #999999;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

.footer-background
{
	background-color: #182333;
	padding-top: 40px;
}

.foot-head
{
	color :white;
}
/*footer*/

/*grid-images*/
  .container2 {
	width: 90%;
	margin: 1rem auto; 
  }
  
  .gallery {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 5vw);
	grid-gap: 1.5rem; 
  }
  
  .gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block; 
  }
  
  .gallery__item--1 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
  }
  
  .gallery__item--2 {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
  }
  
  .gallery__item--3 {
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 1;
	grid-row-end: 6;
  
  }
  
  .gallery__item--4 {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 6;
  }
  
  .gallery__item--5 {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 6;
	grid-row-end: 9;

  }
  
  .gallery__item--6 {
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 6;
	grid-row-end: 9;

  }

  .txt:hover .imgtxt
  {
	background-color: #123456;
  }
/*grid-images*/